{% extends "layout.html" %}
{% block title %}Додати зал{% endblock %}

{% block content %}
    <h2>Додати новий зал та заповнити місця</h2>
    
    <form action="{{ url_for('admin_add_hall') }}" method="POST">
        
        <label>Назва залу (напр. "Червоний зал"):</label>
        <input type="text" name="name" required>
        
        <label>Кількість рядів:</label>
        <input type="number" name="row_count" required>
        
        <label>Кількість місць у кожному ряді:</label>
        <input type="number" name="seats_per_row" required>
        
        <button type="submit">Створити та заповнити зал</button>
    </form>
{% endblock %}