{% extends "layout.html" %}
{% block title %}Вхід{% endblock %}

{% block content %}
    <h2>Вхід до системи</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <label for="username">Ім'я користувача:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Увійти</button>
    </form>
{% endblock %}